/* .navbar {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar a:hover {
    color: #ddd;
  }
  
  .navbar-toggler {
    border-color: #fff;
    outline: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .nav-link:hover {
    color: #ddd;
  }
  
  .dropdown-menu {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .dropdown-item {
    color: #fff;
  }
  
  .dropdown-item:hover {
    background-color: #444;
    color: #ddd;
    cursor: pointer;
  }
   */